<footer class="footer-sec">
    <div class="footer-container footer-con">
        <p style="margin:0">&copy; 2024 All Rights Reserved | Developed with
          
                <svg class="footer-group-icon">
                    <use href="./images/icons.svg#icon-heart"></use>
                </svg>
            by&nbsp;<span class="footer-students" ><a class="student footer-students"
              id="jeremy-modal" href="#dev">GoIT Students</a></span>
        </p>
    </div>
</footer>


<!-- MODAL -->

<div class="w3-container is-hidden" id="dev">
    <div class="group">
    <h2 class="group-title">Team JavaScreen</h2>
    <p>We dont find ways, we find bugs!</p>
    </div>

    <div class="w3-row-padding">
    <div class="w3-container w3-third">
      <img src="./images/Angelo.jpg" class="group-image" style="width:100%" >
    </div>
    <div class="w3-container w3-third">
      <img src="./images/Dane.jpg" class="group-image" style="width:100%" >
    </div>
    <div class="w3-container w3-third">
      <img src="./images/ILuxe.jpg" class="group-image" style="width:100%" >
    </div>
    <div class="w3-container w3-third">
        <img src="./images/Jeremy.jpg" class="group-image" style="width:100%" >
    </div>
    <div class="w3-container w3-third">
        <img src="./images/Louise.jpg" class="group-image" style="width:100%" >
    </div>
    <div class="w3-container w3-third">
        <img src="./images/Mark.jpg" class="group-image" style="width:100%" >
    </div>
  </div>
  
  <div id="modal01" class="w3-modal is-hidden" data-modal onclick="this.style.display='none'">
    <img class="w3-modal-content" id="img01" style="width:50%">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
  </div>
  
</div>
  <!-- <script>
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
  }

  function modal() {
    document.querySelector("#dev").classList.toggle("is-hidden");
  }
  </script> -->
  