<header class="my-library-header">
  <div class="header-wrap">
    <div class="logo">
      <a href="./index.html">
      <svg class="socmed-icon" width="24" height="24">
        <use href="./images/icons.svg#logo-icon"></use>
      </svg></a>
      <h1 class="logo-font">Filmoteka</h1>
    </div>
    
    <div>
      <ul class="list">
        <li><a href="./index.html" class="link-font">HOME</a></li>
        <li class="orange-underline">MY LIBRARY</li>
      </ul>
    </div>
  </div>
  <div class="button-flex">
    <button
      type="button"
      id="watched-library-btn"
      class="library-button selected-button"
    >
      WATCHED</button
    ><button type="button" id="qd-library-btn" class="library-button">
      QUEUE
    </button>
  </div>
</header>
