    <!-- pagination -->
      <div class="pagination-container">
        <button class="page-arrow pagination-button last-button" data-index="-1"><img src="./images/arrow-left.png" alt=""></button>
        
        <button class="page-button pagination-button pagination--current" data-index="1">1</button>
        <button class="page-button pagination-button" data-index="2">2</button>
        <button class="page-button pagination-button" data-index="3">3</button>
        <button class="page-button pagination-button" data-index="4">4</button>
        <button class="page-button pagination-button" data-index="5">5</button>
        <span class="dots px-2">...</span>
        <button class="page-button pagination-button" data-index="20">20</button>
        <button class="page-arrow pagination-button arrow-right" data-index="1"><img src="./images/arrow-right.png" alt=""></button>
      </div>





